<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>new User</title>
</head>
<body>

<p>NEW USER:</p>
<hr/>
<br/>

<form th:method="POST" th:action="@{/users}" th:object="${user}">

    <label for="name">Enter name: </label>
    <input type="text" th:field="*{name}" id="name" />
    <br/>
    <label for="password">Enter password: </label>
    <input type="text" th:field="*{password}" id="password" />
    <br/>
    <label for="role">Enter role: </label>
    <input type="text" th:field="*{role}" id="role" />
    <br/>

    <input type="submit" value="Create!"/>
</form>

</body>
</html>