<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>user Update</title>
</head>
<body>

<p>UPDATE USER:</p>
<hr/>
<br/>

<form th:method="PATCH" th:action="@{/user/{id}(id=${user.getId()})}" th:object="${user}">

    <label for="name">Enter name: </label>
    <input type="text" th:field="*{name}" id="name" />
    <br/>
    <label for="password">Enter password: </label>
    <input type="text" th:field="*{password}" id="password" />
    <br/>
    <label for="role">Enter role: </label>
    <input type="text" th:field="*{role}" id="role" />
    <br/>

    <br/>

    <input type="submit" value="Update!"/>
</form>

</body>
</html>